.header {
  margin-top: 60px;
}

.titles {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;

  & h1 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
  }

  & p {
    font-size: 20px;
    color: var(--c-gray);
    font-weight: 400;
  }
}

.featuredImage {
  width: 100%;
  aspect-ratio: 1.8 / 1;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.30);

  position: relative;
  overflow: hidden;

  & img {
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.featuredImage::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.50) 100%);
  pointer-events: none;
  /* Importante para que no bloquee los clics en la imagen */
}

.main {
  margin: 60px auto;

  & h2,
  & h3 {
    margin: 50px 0 20px
  }

  ;

  & p {
    margin-bottom: 20px;
  }

  ;

  & ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  & li {
    margin-bottom: 10px;
  }
}

.technologies {
  margin-bottom: 200px;
}

.technologies_titles {
  margin: 0 0 40px;
  text-align: left;
}