.imageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1.6 / 1;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.30);


  /* position: relative; */
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;

  & img {
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* 
  & p {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: var(--c-gray);
    background-color: rgba(0, 0, 0, 0.30);
    position: absolute;
    bottom: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
  } */
}

.imageWrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.20);
}

.dialog {
  /* width: 100vw;
  height: 100dvh;*/

  max-height: calc(100dvh - 30px);
  max-width: calc(100vw - 80px);
  margin: auto;
  border: none;
  border-radius: 8px;

  position: fixed;
  top: 0;

  & button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.dialog_content {
  width: 100%;
  /* height: fit-content; */
  max-height: 100%;
  position: relative;
  overflow: hidden;

  & .dialog_imageWrapper {
    width: 100%;
    height: fit-content;
    max-height: calc(100dvh - 30px);
    /* max-height: 100%; */
    overflow-y: auto;
  }

  & img {
    width: 100%;
    height: fit-content;

    object-fit: cover;
    object-position: center;
    display: block;

    position: relative;
    z-index: 5;
  }

  & p {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    background: rgba(10, 10, 10, 0.4);
    position: absolute;
    bottom: 10px;
    z-index: 10;
  }
}