.main_wraper {
  position: relative;
}

.decorations {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  & img {
    opacity: 0.6;
    width: fit-content;
    position: absolute;
  }
}

.deco1 {
  left: -120px;
}

.deco2 {
  right: -40px;
  bottom: 0;
  transform: rotate(180deg) scale(1.5);
}

.contact {
  padding: 90px 60px 0;
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-bottom: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
  background: var(--c-background);
  border-radius: 14px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info {
  max-width: 400px;

  & h2 {
    font-size: 32px;
    font-weight: 600;
  }

  & p {
    font-size: 18px;
  }

  & p span {
    color: var(--c-primary);
  }
}

.rrss {
  margin-top: 80px;
}

.rrss a,
.rrss span {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--c-white);
  text-decoration: none;

  & img {
    width: fit-content;
  }
}

.rrss span img:last-of-type {
  width: 190px;
  height: 16px;
}

.formWraper {
  padding: 50px 40px;
  border: 1px solid rgba(256, 256, 256, 0.07);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background: #22232a;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.4);
}

.formWraper_titles {
  max-width: 400px;
  margin: 0 20px 40px;
  text-align: center;

  & span {
    color: var(--c-primary);
  }

  & h3 {
    font-size: 32px;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & input {
    height: calc(1lh + 12px);
    padding: 10px;

    color: var(--c-white);
    font-size: 16px;
    font-family: var(--font-inter);

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 4px;
    background: #292b32;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3) inset;
  }

  & textarea {
    height: calc(7lh + 12px);
    padding: 10px;
    resize: none;

    color: var(--c-white);
    font-size: 16px;
    font-family: var(--font-inter);

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 4px;
    background: #292b32;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3) inset;
  }

  & .send {
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;

    color: var(--c-background);
    font-size: 16px;

    border: 1px solid var(--c-white);
    border-radius: 100px;
    box-shadow: none;
    background-color: var(--c-white);

    cursor: pointer;
    align-self: center;
    transition: all 0.3s;
  }

  & .send:hover {
    background-color: transparent;
    color: var(--c-white);
  }
}

@media (max-width: 1050px) {
  .contact {
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .info_titles {
    max-width: 400px;
  }
}

@media (max-width: 700px) {
  .contact {
    padding: 50px 20px 0 20px;
  }

  .info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info_titles {
    text-align: center;
    max-width: 400px;
  }

  .rrss {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .formWraper {
    padding: 40px 20px;
  }
}
